.background {
    background-color: #F5F5F5;
}
.container {
    font-family: "Hi Melody", sans-serift;
    display: flex;
    /* cross axis(세로) 정렬 */
    align-items: center;
    /* main axis(가로) 정렬 */
    justify-content: center;
}

.flex-direction-column {
    flex-direction: column;
}

.margin-bottom {
    margin-bottom: 1rem;
}
.logo {
    width: 17rem;
    height: 10rem;

}
.header {
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: white;
    border-radius: 3rem;
}
.title {
    font-size: 4rem;
    margin-left: 3rem;
}

.boreder-solid{
    border: 3px solid black;
}

.border-radius{
    border-radius: 1rem;
}

.shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.exchange-rate-box{
    width: 14.5rem;
    height: 7rem;
    margin: 0.5rem 1rem;
}

.chart-box{
    width: 60rem;
    height: 20rem;
    margin: 1rem 2rem;
}

.exchange-rate-box:hover {
    cursor: pointer;
    background-color: rgb(206, 203, 203);
}

.exchange-rate-box:active {
    background-color: #68902B;
}

.exchange-rate-box:hover .exchange-name {
    color: white;
}

.exchange-name {
    font-weight: 700;
}